@using PASR.Leads.Dto

@model AddressDto
<div class="col-md-4 card">
    <div class="card-header">
        @Model.Street
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Number</li>
            <li class="list-group-item">@Model.District</li>
            <li class="list-group-item">@Model.City</li>
            <li class="list-group-item">@Model.FederalUnity</li>
        </ul>
        <p class="card-text"></p>
    </div>
</div>