@using PASR.Web.Models.Common.Modals
@using PASR.Web.Models.Leads
@model LeadListViewModel
@{ Layout = null; }
<div class="modal fade" id="LeadCreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewLead")))
            <form name="leadCreateForm" role="form" class="form-horizontal">
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" role="tab" href="#create-lead">@L("Lead")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" role="tab" href="#create-lead-notes">@L("LeadNotes")</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4">
                        <div role="tabpanel" class="tab-pane container active" id="create-lead">
                            <div class="form-group row required">
                                <label for="leadname" class="col-md-3 col-form-label">@L("Name")</label>
                                <div class="col-md-9">
                                    <input id="leadname" type="text" class="form-control" name="Name" required maxlength="@PASRConsts.MaxNamesLength">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label for="lastname" class="col-md-3 col-form-label">@L("LastName")</label>
                                <div class="col-md-9">
                                    <input id="lastname" type="text" class="form-control" name="LastName" required maxlength="@PASRConsts.MaxNamesLength">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label for="identitycode" class="col-md-3 col-form-label">@L("IdentityCode")</label>
                                <div class="col-md-9">
                                    <input id="identitycode" type="text" class="form-control" name="IdentityCode" required maxlength="14" placeholder="999.999.999-99">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label for="phone" class="col-md-3 col-form-label">@L("PhoneNumber")</label>
                                <div class="col-md-9">
                                    <input id="phone" type="text" class="form-control" name="PhoneNumber" required maxlength="14" placeholder="(99)99999-9999">
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label for="emailaddress" class="col-md-3 col-form-label">@L("EmailAddress")</label>
                                <div class="col-md-9">
                                    <input id="emailaddress" type="email" class="form-control" name="EmailAddress" required maxlength="@PASRConsts.MaxEmailAddressLength">
                                </div>
                            </div>
                            <div class="form-group row justify-content-end required">
                                <div class="col-md-3">
                                    <label for="priority" class="col-12">@L("Priority")</label>
                                    <select id="priority" class="form-control" name="priority" required>
                                        <option value="">@L("Priority")</option>
                                        <option value="0">@L("Max")</option>
                                        <option value="1">@L("Average")</option>
                                        <option value="2">@L("Min")</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane container" id="create-lead-notes">
                            <div class="form-group-lg row h-100">
                                <label for="leadnotes" class="col-md-3">@L("Notes")</label>
                                <textarea id="leadnotes" class="col-md-12 form-control-lg h-100" type="text" name="LeadNotes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>
